# don't ever lint node_modules
node_modules
# don't lint build output (make sure it's set to your correct build folder name)
build
# don't lint nyc coverage output
coverage

# There is an understandable warning in the .eslintrc.js file
# But we can't do anything about that
.eslintrc.js
